<h1>New User</h1>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" pattern="[A-Z,a-z, ]*" type="text" id="firstname">
    <label class="mdl-textfield__label" for="Name">Name...</label>
    <span class="mdl-textfield__error">Letters and spaces only</span>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="lastname">
    <label class="mdl-textfield__label" for="Email">Email...</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="age">
    <label class="mdl-textfield__label" for="age">Age...</label>
</div>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <textarea class="mdl-textfield__input" type="text" rows="5" id="occupation"></textarea>
    <label class="mdl-textfield__label" for="note">Enter note</label>
</div>
<p>
    <button class="btn-post" type="submit">Submit</button>
</p>
