<h1>User Detail</h1>
<div>
  <span class='name'>Name:</span>
  <span><%= userinfo['Name'] %></span>
</div>
<div>
  <span class='name'>Email:</span>
  <span><%= userinfo['Email'] %></span>
</div>
<div>
  <span class='name'>Age:</span>
  <span><%= userinfo['age'] %></span>
</div>
<div>
  <span class='name'>note:</span>
  <span><%= userinfo['note'] %></span>
</div>
