<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A portfolio template that uses Material Design Lite.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Cheng Yu Hsun Website</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />

	<link rel="stylesheet" type="text/css" href="assets/css/test.css" />


	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
			<div class="mdl-layout__header-row portfolio-logo-row">
				<span class="mdl-layout__title">
                    <!--<div class="portfolio-logo"></div>-->
                    <a href="#" class="logo-icon">
						<img src="https://raw.githubusercontent.com/TonyCheng2016/MERN-HW/master/hw4/images/logo.png" width="300" align="left">
					</a>
                    <span class="mdl-layout__title">Restful Website</span>
				</span>
			</div>

			<div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
				<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
					<a class="mdl-navigation__link" href="index.html">Home</a>
					<a class="mdl-navigation__link is-active" href="about.html">About</a>
					<a class="mdl-navigation__link" href="works.html">Works</a>
					<a class="mdl-navigation__link" href="contact.html">Contact</a>
				</nav>
			</div>

		</header>
		<div class="mdl-layout__drawer mdl-layout--small-screen-only">
			<nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
				<a class="mdl-navigation__link" href="index.html">Home</a>
				<a class="mdl-navigation__link is-active" href="about.html">About</a>
				<a class="mdl-navigation__link" href="works.html">Works</a>
				<a class="mdl-navigation__link" href="contact.html">Contact</a>
			</nav>
		</div>
		<main class="mdl-layout__content">
			<div class="mdl-grid portfolio-max-width">


				<div id="content">
					<div class="about">
						<div class="circle">
							<p>背景</p>
						</div>
						<div class="square">
							<p>我出生在一個很平凡但很美滿的小家庭，父親是商人，母親是個家庭主婦，而弟弟和我都還在學校求學。父母用民主的方式管教我們，希望能夠獨立自主、主動學習，累積人生經驗，會適時的給予鼓勵和建議，父母親只對我們要求兩件事，第一是保持健康，第二是著重課業。因為沒有健康的身體，就算有再多的才華、再大的抱負也無法發揮出來。又因為家境並不富裕，所以必須專心於課業上，學得一技之長，將來才能自立更生。</p>
						</div>
						<div class="circle">
							<p>求學之路</P>
						</div>
						<div class="square">
							<p>如果沒有學習與改變，我們將無法進步反而會原地踏步。沒有學習，就像乾涸的水庫盼不到甘霖，生活將是貧窮的。 從失敗經驗中，找尋成功的活路；從成功甜美果實中，回味失敗的苦澀。 </p>
						</div>
						<div class="circle">
							<p>理想願景</p>
						</div>
						<div class="square">
							<p>蘇格拉底說：「世界上最快樂的事，莫過於爲理想而奮鬥」，要是一個人，能充滿信心地朝他理想的方向去做，下定決心過他想過的生活，他就一定會得到意外的成功。現實是此岸，理想是彼岸，中間隔著湍急的河流，行動則是架在川上的橋梁，遇到暗礁奇石應勇敢面對，實踐夢想，達到理想中的未來。</p>
						</div>
						<div class="circle">
							<p>自我期許</p>
						</div>
						<div class="square">
							<p>流血、流淚是生命的象徵，不管挫折、異樣的眼光，為了理念、榮譽，要堅持下去，有偉大理想的人，生活永遠閃耀著光芒，碰到逆境也不低頭，就像國父說：「革命尚未成功，同志仍須努力」，譜出生命的樂章，感人肺腑，打動你的心。</p>
						</div>
					</div>
				</div>

			</div>
			<footer class="mdl-mini-footer">
				<div class="mdl-mini-footer__left-section">
					<div class="mdl-logo">
						<div class="section">
							<h4>Contact Us</h4>
							<p>
								<span>Address:</span> Taipei Neihu
							</p>
							<p>
								<span>Phone:</span> 0937922587
							</p>
							<p>
								<span>Email:</span> s110219004@stu.ntue.edu.tw
							</p>
						</div>
					</div>
				</div>
				<div class="mdl-mini-footer__right-section">
					<ul class="mdl-mini-footer__link-list">
						<li><a href="#">Help</a></li>
						<li><a href="#">Privacy & Terms</a></li>
					</ul>
					<div class="section">
						<h4>SEND US A MESSAGE</h4>
						<p>

						</p>
						<a href="contact.html" class="subscribe">Click to send us an email</a>
					</div>
				</div>
				<div id="footnote">
					<p>鄭裕勳 © Copyright 2017/04 110219004 Cheng Yu Hsun All Rights Reserved.</p>
				</div>
			</footer>
		</main>
	</div>
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>